body, html {
  height: 100%;
  background-image: url("images/Concrete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  

}
.form-container {
  background: #ffffff;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 130px 50px 50px 50px;
  
}
.portfolio-container {
  background: #ffffff;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 150px 50px 50px 50px;
}

h2 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px; 
  line-height: 22px; 
  border-bottom: 2px solid #eeeeee;
}
/* remove rounding from submit button */
.btn { 
  border-radius: 0; 
  color: #eeeeee;
  background: #4aaaa5;
}
.cat {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;

}
h3 {
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  
}
.gallery{
  width: 100%;
}
.gallery-item{
  width:100%;
}
.navbar-name{
  color: #eeeeee;
  background: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 700;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 0; 
  line-height: 22px; 
  
  
}
.nav-link
{
  color: #777777;
}